.App {
  /* text-align: center; */
}
body{
    background-color: whitesmoke;
}
.recipe-picture{
    height: 440px;
    width: 600px;
    object-fit: cover; 
}
.recipe-name{
    font-size: 40px ;
    padding: 16px;
    font-family: 'Norican', cursive;
}
.recipe-container{
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.1);
    transition: 0.2s;
}
.recipe-container:hover {
    transform: scale(1.1);
}
.recipe-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}